*{
padding:0;
margin:0;
box-sizing:border-box;
scroll-behavior: smooth;
}
body{
  background-color:#1A1C23;
  color:#C9D1D9;
  height:100vh;
  font-family: 'Poppins',
  sans-serif;
  font-size: 16px;

}
 #activec {
  display:block;
 }

 .modal {
   display:none;
 }
/* header */
 #active {
   background-color: #3B3A51;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 }

 .header {
   background-color: transparent;
 }